---
layout: rocket-page
title: Assembly | Rocket Workshop | Stage One Education
---
        
    <header class="not-full-page">
        <div class="header-content">
            <div class="header-content-inner">
                <h2>Assembly</h2>
                <hr class="long text-left" />
                <p><em>in which we put it all together</em></p>
            </div>
        </div>
    </header>

    {% include section.html param="top" %}
                    <h3 class="section-heading">1. Select the assembly button tab</h3>
                    <ul>
                        <li>Click the "Assembly 1" tab on the bottom row</li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/select_assembly" %}
    
    {% include section.html %}
                    <h3 class="section-heading">2. Insert parts</h3>
                    <ul>
                        <li>Select the "Insert" tool <img src="img/tutorial/insert_tool.png" /></li>
                        <li>Select the "Middle body"</li>
                        <li>Click inside the assembly to place the part</li>
                        <li>Repeat for the "Lower body" and "Nosecone"</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/insert_parts" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">3. Mate the fuselage to the booster and fins</h3>
                    <ul>
                        <li>Select the "Fastened Mate" tool <img src="img/tutorial/fastened_mate_tool.png" /></li>
                        <li>Hover over the top of the booster and fins, then click when a disc appears</li>
                        <li>Hover over the <strong>inside</strong> of the fuselage, where the part gets wider</li>
                        <li>Click again, and you'll see the parts snap together</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/mate_booster_fuselage" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">4. Mate the fuselage to the nosecone</h3>
                    <ul>
                        <li>Select the "Fastened Mate" tool <img src="img/tutorial/fastened_mate_tool.png" /></li>
                        <li>Hover over the top of the fuselage then click when a disc appears</li>
                        <li>Hover over the <strong>inside</strong> of the <em>nosecone</em>, where the part gets wider</li>
                        <li>Click again, and you'll see the parts snap together</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/mate_nosecone" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">5. Export the booster and fins for 3D printing</h3>
                    <ul>
                        <li>Right click on the booster and fins</li>
                        <li>Select "Export..."</li>
                        <li>Select <strong>STL</strong> from the "Format" list</li>
                        <li>Click OK</li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/export_booster_and_fins" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">6. Export the fuselage for 3D printing</h3>
                    <ul>
                        <li>Right click on the fuselage</li>
                        <li>Select "Export..."</li>
                        <li>Select <strong>STL</strong> from the "Format" list</li>
                        <li>Click OK</li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/export_fuselage" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">7. Export the nosecone for 3D printing</h3>
                    <ul>
                        <li>Right click on the nosecone</li>
                        <li>Select "Export..."</li>
                        <li>Select <strong>STL</strong> from the "Format" list</li>
                        <li>Click OK</li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/export_nosecone" %}
                    
    {% include section.html %}
                    <h3 class="section-heading">8. 3D print the files</h3>
                    <ul>
                        <li>Printing will take about 3 hours</li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">9. Assembly the rocket</h3>
                    <ul>
                        <li>Thread a flame-resistant string through the tube inside the fuselage</li>
                        <li>Tie it off on the bottom end with two knots to keep it from coming out</li>
                        <li>Tie the other end around the bar in the nosecone</li>
                        <li>Tie a streamer and parachute to the string</li>
                        <li>Load an engine (A, B, or C-class), pack the chute, and light it!</li>
                    </ul>
                    {% include tutorial-video.html path="videos/assembly/launch" %}
                    
                    

    {% include section.html param="bottom" %}
    
