<div id="advanced-learning-toggle" style="position: fixed; bottom: 0; right: 0; z-index: 9999; background: rgb(216, 216, 216); border: solid rgb(216, 216, 216) 8px; border-left: solid rgb(216, 216, 216) 12px; border-top-left-radius: 10px;">
    <label for="advancedModeSwitch" style="margin-right: 8px; font-weight: bold;">
        Advanced mode
    </label>
    <label class="switch">
        <input type="checkbox" id="advancedModeSwitch" onclick="toggleAdvancedMode2(this.checked)" />
        <span class="slider round"></span>
    </label>
</div>

