<header class="not-full-page">
    <div class="header-content" 
         style="display:flex; 
                justify-content:center; 
                align-items:center; 
                margin-left:-250px;">
      <div class="header-content-inner" 
           style="display:flex; 
                  align-items:center; 
                  justify-content:center; 
                  text-align:right;">
        <!-- Text on the left -->
        <div>
          <h2 style="margin-bottom:10px;">ASSEMBLY</h2>
          <p style="margin-right:0;">
            <em>in which we put it all together</em>
          </p>
        </div>
        <!-- Vertical line and image -->
        <div style="width:2px; background-color:#f05f40; margin-left:40px; margin-right:10px; height:150px;"></div>
        <img 
            src="img/tutorial/rocket-assem-exploded-view.png" 
            alt="assembly-iso" 
            style="width:150px; height:auto;"
        >
        <img 
            src="img/tutorial/rocket-assem-iso.png" 
            alt="assembly-iso" 
            style="width:150px; height:auto;"
        >
      </div>
    </div>
  </header>


    {% include section.html param="top" %}
                    <h3 class="section-heading">{% include step_counter.html %} Select the assembly button tab</h3>
                    {% include adv-drawing.html path="img/tutorial/assembly-drawing-1.png" %}
                    {% include tutorial-video.html path="videos/assembly/select_assembly" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Click the "Assembly 1" tab on the bottom row</li>
                    </ul>
    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Insert parts</h3>
                    {% include adv-drawing.html path="img/tutorial/assembly-drawing-1.png" %}
                    {% include tutorial-video.html path="videos/assembly/insert_parts" %}
                    {% include written-instructions.html %}                   
                    <ul>
                        <li>Select the "Insert" tool <img src="img/tutorial/insert_tool.png" /></li>
                        <li>Select the "Middle body"</li>
                        <li>Click inside the assembly to place the part</li>
                        <li>Repeat for the "Lower body" and "Nosecone"</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Mate the fuselage to the booster and fins</h3>
                    {% include adv-drawing.html path="img/tutorial/assembly-drawing-1.png" %}
                    {% include tutorial-video.html path="videos/assembly/mate_booster_fuselage" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the "Fastened Mate" tool <img src="img/tutorial/fastened_mate_tool.png" /></li>
                        <li>Hover over the top of the booster and fins, then click when a disc appears</li>
                        <li>Hover over the <strong>inside</strong> of the fuselage, where the part gets wider</li>
                        <li>Click again, and you'll see the parts snap together</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Mate the fuselage to the nosecone</h3>
                    {% include adv-drawing.html path="img/tutorial/assembly-drawing-1.png" %}
                    {% include tutorial-video.html path="videos/assembly/mate_nosecone" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the "Fastened Mate" tool <img src="img/tutorial/fastened_mate_tool.png" /></li>
                        <li>Hover over the top of the fuselage then click when a disc appears</li>
                        <li>Hover over the <strong>inside</strong> of the <em>nosecone</em>, where the part gets wider</li>
                        <li>Click again, and you'll see the parts snap together</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    






                    {% include section.html param="bottom" %}
         
         
       





