
    <section id="parts_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Assemble Parts</a></h2>

                    <hr class="col-xs-offset-0 col-sm-offset-0 col-md-offset-0 long" />

                    <h3 class="section-heading">{% include step_counter.html %} 3D print the files and gather parts</h3>
                    <ul>
                        <li>Printing will take about 3 hours</li>
                        <ul><li>or use a <a href="https://www.shapeways.com/">3rd party printing service</a> (&#8776; $40)</li></ul>
                        <li>Acquire:</li>
                        <ul>
                            <li><a href="http://amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=estes a8-3">Rocket engines</a>. A, B, or C sizes will fit.  A8-3 are a good model to start with (&#8776; $10)</a></li>
                            <li><a href="https://www.amazon.com/Estes-1491-Taser-Rocket-Launch/dp/B002VLUI9E/">Kit containing:</a> (&#8776; $25)</li>
                            <ul>
                                <li>launch pad</li>
                                <li>controller</li>
                            </ul>
                            <li><a href="https://www.amazon.com/Swanson-RFTOR300-16-Inch-300-Feet-Flagging/dp/B0081ZRQKS/ref=pd_day0_hl_60_7?_encoding=UTF8&pd_rd_i=B0081ZRQKS&pd_rd_r=a8f1d4f1-3962-11e9-98d1-f51b55fcb6f9&pd_rd_w=ayLCn&pd_rd_wg=Pxkfe&pf_rd_p=ad07871c-e646-4161-82c7-5ed0d4c85b07&pf_rd_r=T77N9WCDGVMJW0BZKKP8&psc=1&refRID=T77N9WCDGVMJW0BZKKP8">Flame resistant flagging streamer</a> (&#8776; $7)</li>
                            <li><a href="https://www.amazon.com/gp/product/B06X15TZK3/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1">1/16 inch paracord / nylon shock coord</a> (&#8776; $9)</li>
                        </ul>
                        <br /><a href="img/tutorial/rocket_parts.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_parts_s.jpg" /></a></li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Start assembling the rocket</h3>
                    <ul>
                        <li>Thread a flame-resistant string or shock cord through the tube inside the fuselage
                        <br /><a href="img/tutorial/rocket_thread_string.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_thread_string_s.jpg" /></a></li>
                    </ul>
    {% include section.html %}
                        
                    <h3 class="section-heading">{% include step_counter.html %} Tie the string off on the bottom end with two knots to keep it from coming out</h3>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_thread_tie.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_thread_tie_s.jpg" /></a></li>
                    </ul>
    {% include section.html %}
                        
                    <h3 class="section-heading">{% include step_counter.html %} Tie the other end around the bar in the nosecone</h3>
                    <ul>
                        <li>You can use tweezers or a paperclip to get at the string when it's inside the nosecone.</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_thread_nosecone3.jpg" target="_blank"><img src="img/tutorial/rocket_thread_nosecone3_s.jpg" class="tutorial-video"/></a>
                    </li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Push the fuselage into the lower body.  It should be a very tight fit to keep it from coming loose in flight.</h3>
                    <ul>
                        <li>Depending on your printer, you might have to sand a little bit off or put a piece of tape on the side to get the perfect fit.</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li>
                        <a href="img/tutorial/rocket_stage_connect3.jpg" target="_blank"><img src="img/tutorial/rocket_stage_connect3_s.jpg" class="tutorial-video" /></a>
                        </li>
                    </ul>
                    
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Tie a streamer or parachute to the string</h3>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_thread_streamer.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_thread_streamer_s.jpg" /></a></li>
                    </ul>
                                    


    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Roll the streamer and push it into the fuselage</h3>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_streamer_roll.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_streamer_roll_s.jpg" /></a></li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Slip the nosecone on.  It should be a <strong>loose fit</strong> so that the ejection charge will pop it off.</h3>
                    <ul>
                        <li>Depending on your printer, you might have to sand a little bit off or put a piece of tape on the side to get the perfect fit.</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_assembled.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/rocket_assembled_s.jpg" /></a></li>
                    </ul>
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Load an engine (A, B, or C-class)</h3>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/rocket_engine_load.jpg" target="_blank"><img src="img/tutorial/rocket_engine_load_s.jpg" class="tutorial-video" /></a></li>
                    </ul>
                        
    {% include section.html %}                    
                    <h3 class="section-heading">{% include step_counter.html %} Go flying!</h3>
                    {% include tutorial-video.html path="videos/assembly/launch" %}
