<header class="not-full-page">
    <div class="header-content" 
         style="display:flex; 
                justify-content:center; 
                align-items:center; 
                margin-left:-250px;">
      <div class="header-content-inner" 
           style="display:flex; 
                  align-items:center; 
                  justify-content:center; 
                  text-align:right;">
        <!-- Text on the left -->
        <div>
          <h2 style="margin-bottom:10px;">Engineering Drawing</h2>
          <p style="margin-right:0;">
            <em>Document your designs to be reproduced</em>
          </p>
        </div>
        <!-- Vertical line and image -->
        <div style="width:2px; background-color:#f05f40; margin-left:40px; margin-right:10px; height:200px;"></div>
        <img 
            src="img/tutorial/fuselage-drawing-5-dark.png" 
            alt="assembly-iso" 
            style="width:300px; height:auto;"
        >


      </div>
    </div>
  </header>


    {% include section.html param="top" %}

    <li>Select the “Create Drawing” option.</li>
    <li>Choose the desired sheet size and standard (e.g., ISO, ANSI) for your drawing.</li>
    <li>Place the base view of your part, then add additional views (e.g., top, side, isometric) as needed.</li>
    <li>Add dimensions, notes, and any necessary annotations to clearly communicate your design.</li>
    <li>Once complete, save or export your 2D drawing as a PDF or another preferred format.</li>
                                       
                </div>
            </div>
        </div>
    </section>
