
    {% include section.html %}                    
                    <h3 class="section-heading">{% include step_counter.html %} Challenges</h3>
                    <p>
                        Can you edit or rocket to make it better?  Some ideas:
                    <ul>
                        <li>Add little fins to the fuselage, similar to the <a href="https://www.blueorigin.com/new-glenn/">New Glenn</a> design?</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/new_glenn_fins.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/new_glenn_fins_s.jpg" /></a></li>
                    </ul>
                    <ul>
                        <li>Edit your nosecone to make it pointy instead of flat</li>
                    </ul>
                    <h3><strong>Extra Difficult:</strong></h3>
                    <ul>
                        <li>Convert your rocket to a triple-engine booster</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/triple_booster.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/triple_booster_s.jpg" /></a></li>
                    </ul>
                    <ul>
                        <li>Add an entire new stage to make a multi-stage rocket</li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><a href="img/tutorial/multi-stage-cad.jpg" target="_blank"><img class="tutorial-video" src="img/tutorial/multi-stage-cad_s.png" /></a></li>
                    </ul>
                    

    {% include section.html param="bottom" %}
    
