    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Sign-in to Onshape</h3>
                    {% include tutorial-video.html path="videos/getting-started/login" %}
                    <ul>
                        <li><a href="https://cad.onshape.com/signin">Sign-in</a> to Onshape</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Create a new document</h3>
                    {% include tutorial-video.html path="videos/getting-started/create_document2" %}
                    <ul>
                        <li>Click the <strong>Create</strong> button <img src="img/tutorial/create_button.png" /></li>
                        <li>Select <strong>Document</strong></li>
                        <ul><li><img src="img/tutorial/create_document.png" /></li></ul>
                        <li>Name your document <em>Rocket by [yourname]</em></li>
                        <li>Select <strong>Create public document</strong> <img src="img/tutorial/create2.png" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
