{% include section.html param="top" %}
         
       


<h2 class="text-center">You finished the assembly!</h2>
<hr class="long" />


 <!-- Updated button container with vertically stacked links -->
 <div class="button-container">



    <!-- BUTTON #1 -->
<div class="custom-button-group">
{% if page.url contains 'team' %}
<!-- If the current page's URL includes 'challenges-team', 
link to the TEAM design page -->
<a 
href="challenges-team-design.html"
class="custom-button"
style="background-image: url('img/tutorial/triple_booster.jpg');"
>
{% else %}
<!-- Otherwise, default to the SINGLE design page -->
<a 
href="challenges-single-design.html"
class="custom-button"
style="background-image: url('img/tutorial/triple_booster.jpg');"
>
{% endif %}
<span>DESIGN<br/>UPGRADES</span>
</a>
</div>




      <!-- BUTTON #2 -->
<div class="custom-button-group">
{% if page.url contains 'team' %}
<!-- If the current page's URL includes 'challenges-team', link to the TEAM printing page -->
<a 
href="challenges-team-printing.html"
class="custom-button"
style="background-image: url('img/tutorial/slicer.png');"
>
{% else %}
<!-- Otherwise, default to the SINGLE printing page -->
<a 
href="challenges-single-printing.html"
class="custom-button"
style="background-image: url('img/tutorial/slicer.png');"
>
{% endif %}
<span>3D PRINTING</span>
</a>

<!-- Optional collapsible section (if you still need it) -->
<div class="collapse">
<!-- Collapsible text goes here -->
</div>
</div>


<!-- BUTTON #3 -->
<div class="custom-button-group">
{% if page.url contains 'team' %}
<!-- If the current page's URL includes 'challenges-team', link to the TEAM measuring page -->
<a 
href="challenges-team-measuring.html"
class="custom-button"
style="background-image: url('img/tutorial/caliper-placeholder.png');"
>
{% else %}
<!-- Otherwise, default to the SINGLE measuring page -->
<a 
href="challenges-single-measuring.html"
class="custom-button"
style="background-image: url('img/tutorial/caliper-placeholder.png');"
>
{% endif %}
<span>MEASURING</span>
</a>

<!-- Optional collapsible section (if you still need it) -->
<div class="collapse">
<!-- Collapsible text goes here -->
</div>
</div>


<!-- BUTTON #4 -->
<div class="custom-button-group">
{% if page.url contains 'team' %}
<!-- If the current page's URL includes 'challenges-team', link to the TEAM drawing page -->
<a 
href="challenges-team-drawing.html"
class="custom-button"
style="background-image: url('img/tutorial/fuselage-drawing-5-dark.png');"
>
{% else %}
<!-- Otherwise, default to the SINGLE drawing page -->
<a 
href="challenges-single-drawing.html"
class="custom-button"
style="background-image: url('img/tutorial/fuselage-drawing-5-dark.png');"
>
{% endif %}
<span>ENGINEERING<br/>DRAWING</span>
</a>

<!-- Optional collapsible section (if you still need it) -->
<div class="collapse">
<!-- Collapsible text goes here -->
</div>
</div>


</div>
<!-- END button-container -->






<h2 class="text-center">Next up <a href="challenges-team.html">design challenges</a></h2>
<hr class="long" />



{% assign page_filename = page.path | split:'/' | last %}
{% assign is_teams = page_filename |split:'-' | first %}
{% if is_teams == "teams" %}
{% assign teams_prefix = "teams-" %}
{% include teams-end-of-section.html exclude="middle-body" %}
{% else %}
<a href="challenges-team.html" class="portfolio-box">
    <img src="img/tutorial/multi-stage-cad.jpg" class="img-responsive" style="margin: auto" alt="">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
            </div>
        </div>
    </div>
</a>
<h2 class="text-center">Next up <a href="challenges-team.html">design challenges</a></h2>
<hr class="long" />
{% assign teams_prefix = "" %}
{% endif %}
{% include section.html param="bottom" %}