{% include section.html param="top" %}

<h2 class="text-center">You finished the Fins + Booster!</h2>
<hr class="long" />

{% assign page_filename = page.path | split:'/' | last %}
{% assign is_teams = page_filename |split:'-' | first %}
{% if is_teams == "teams" %}
{% assign teams_prefix = "teams-" %}
{% include teams-end-of-section.html exclude="middle-body" %}
{% else %}
    <img src="img/portfolio/lower-body.jpg" class="img-responsive" style="margin: auto" alt="">
    
{% assign teams_prefix = "" %}
{% endif %}
{% include section.html param="bottom" %}