<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fuselage Tutorial Example</title>

  <!-- SIMPLE TOGGLE SWITCH STYLING -->
  <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 24px;
      vertical-align: middle;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0;
      background-color: #ccc;
      cursor: pointer;
      transition: .3s;
      border-radius: 34px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: #fff;
      transition: .3s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #f05f40;
    }
    input:checked + .slider:before {
      transform: translateX(18px);
    }

    /* OPTIONAL sticky behavior for the toggle box */
    .sticky-advanced-box {
      position: sticky;
      top: 50px;
    }
  </style>
</head>

<body>

<header class="not-full-page">
  <div class="header-content" 
       style="display:flex; 
              justify-content:center; 
              align-items:center; 
              margin-left:-250px;">
    <div class="header-content-inner" 
         style="display:flex; 
                align-items:center; 
                justify-content:center; 
                text-align:right;">
      <!-- Text on the left -->
      <div>
        <h2 style="margin-bottom:10px;">FUSELAGE</h2>
        <p style="margin-right:0;">
          <em>The rocket’s body, connecting all other parts and housing the parachute attachment.</em>
        </p>
      </div>
      <!-- Vertical line and image -->
      <div style="width:2px; background-color:#f05f40; margin-left:40px; margin-right:10px; height:150px;"></div>
      <img 
          src="img/tutorial/fuselage-iso.png" 
          alt="fuselage-iso" 
          style="width:150px; height:auto;"
      >
    </div>
  </div>
</header>

<!-- Google Analytics / Conversion Tracking Script, etc. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-716077034/Gb8hCKikh6gBEOrvudUC',
        'transaction_id': '',
        'event_callback': callback
    });
    return false;
  }

  function gtag_class_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-716077034/gD7mCInOxqgBEOrvudUC',
        'transaction_id': '',
        'event_callback': callback
    });
    return false;
  }

  function payment() {
    gtag('event', 'click', {
      'event_category': 'purchase',
      'event_label': 'rocket_tutorial_495',
      'event_value': '1'
    });

    gtag_report_conversion();
    document.getElementById('main_page').setAttribute('style', 'display: inline');
    document.getElementById('payment').setAttribute('style', 'display: none');
    document.getElementById('payment_complete').setAttribute('style', 'display: inline');
  }

  function payment_class() {
    gtag('event', 'click', {
      'event_category': 'purchase',
      'event_label': 'rocket_tutorial_class',
      'event_value': '1'
    });

    gtag_class_report_conversion();
    document.getElementById('main_page').setAttribute('style', 'display: inline');
    document.getElementById('payment').setAttribute('style', 'display: none');
    document.getElementById('payment_complete').setAttribute('style', 'display: inline');
  }
</script>

<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        
        <!-- 1) rocket-nav.html include (if relevant) -->
        {% include rocket-nav.html title="Fuselage Tutorial" num_pages="3" %}

        <!-- ========== ADVANCED LEARNING MODE BOX ========== -->
        <div id="advanced-learning-toggle"
             style="border: 2px solid #f05f40; 
                    padding: 10px; 
                    margin-bottom: 20px;
                    border-radius: 15px;
                    background-color: #fff;
                    z-index: 9999;">
          <label for="advancedModeSwitch" style="margin-right: 8px; font-weight: bold;">
            Engineering Drawings Only
          </label>
          <label class="switch">
            <input type="checkbox" id="advancedModeSwitch" onclick="toggleAdvancedMode()" />
            <span class="slider round"></span>
          </label>
        </div>
        <!-- End of toggle -->


{% include section.html param="top" %}
<h3 class="section-heading">{% include step_counter.html %} Create a sketch</h3>
{% include tutorial-video.html path="videos/middle-body/create_sketch_top_plane" %}
<ul>
  <li>Select the sketch tool <img src="img/tutorial/sketch.png" /></li>
  <li>Select a <strong>sketch plane</strong>.  Use the <strong>Top</strong> <img src="img/tutorial/top_side_menu.png" /> plane.</li>
  <ul><li><img src="img/tutorial/top_features.png" /> 
    <span style="display:inline-block; width: 10%; text-align: center;"><i class="fa fa-long-arrow-right"></i></span>
    <img src="img/tutorial/top_plane_sketch_box.png" />
  </li></ul>
  <li>Align your view to the sketch plane by clicking "Top" on the view cube</li>
  <ul><li><img src="img/tutorial/view_cube_top.png" /></li></ul>
  <li>Make sure you have selected the <strong>Top</strong> plane. 
      In the sketch overlay window, you should see "Top Plane" under <em>sketch plane</em></li>
</ul>

{% include section.html %}
<h3 class="section-heading">{% include step_counter.html %} Draw the outer body circle</h3>
{% include tutorial-video.html path="videos/middle-body/draw_outer_circle_2" %}  
<ul>
  <li>Select the circle tool <img src="img/tutorial/circle_tool.png" /></li>
  <ul class="help-button">
    <li><a class="btn help-button" data-toggle="collapse" data-target="#no_circle">Can't find it? &raquo;</a></li>
    <ul class="collapse" id="no_circle">
      <li>Your screen may be too narrow, hiding the tool from view</li>
      <ul><li>Check under the dropdown menu by the line tool</li></ul>
      <li>You might have exited your sketch</li>
      <ul><li>Double-click on "Sketch 1" <img src="img/tutorial/sketch_1.png" /> to re-enter the sketch.</li></ul>
    </ul>
    <li><a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_c">Want a shortcut? &raquo;</a></li>
    <li class="collapse" id="kb_shortcut_c">CAD software is <i>much</i> easier and faster to use with keyboard shortcuts.
      <ul><li>Onshape shortcuts are labeled in the menus (and intuitive). Press <code>c</code> to bring up the circle tool.</li></ul>
    </li>
  </ul>
  <li>Draw a circle.  <strong>Be sure to snap it to the origin</strong>.
</ul>

{% include section.html %}
<h3 class="section-heading">
  {% include step_counter.html %} Dimension the outer body circle
</h3>
{% include tutorial-video.html path="videos/middle-body/draw_outer_circle_dimension_1" %}
<ul>
  <li>Select the dimension tool <img src="img/tutorial/dimension_tool.png" /></li>
  <li><a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_d">Consider this essential shortcut &raquo;</a></li>
    <li class="collapse" id="kb_shortcut_d">
      <ul><li>The dimension tool is activated by pressing <code>d</code> on the keyboard.</li></ul>
    </li>
  <li>Click on your circle and set its diameter to <strong>0.781 in</strong></li>
  <li>Press <strong>Enter</strong> to exit the dimensioning box</li>
</ul>

{% include section.html %}
<h3 class="section-heading">
  {% include step_counter.html %} Draw the inner circle
</h3>
{% include tutorial-video.html path="videos/middle-body/draw_inner_circle" %}
<ul>
  <li>Select the circle tool <img src="img/tutorial/circle_tool.png" /></li>
  <li>Draw a circle inside your first circle. <strong>Be sure to snap it to the origin</strong>.
  <li>Select the dimension tool <img src="img/tutorial/dimension_tool.png" /></li>
  <li>Click <em>first</em> on the outer circle and <em>then</em> on the inner circle 
      and set the difference between them to <strong>0.031 in</strong></li>
</ul>

{% include section.html %}
<h3 class="section-heading">
  {% include step_counter.html %} Extrude the body
</h3>
{% include tutorial-video.html path="videos/middle-body/extrude_body" %}
<ul>
  <li>Select the extrude tool <img src="img/tutorial/extrude_tool.png" /></li>
  <li><a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_ee">Feature shortcuts &raquo;</a></li>
    <li class="collapse" id="kb_shortcut_ee">
      <ul><li>Outside of a sketch, the keyboard shortcuts are usually <code>shift + [letter]</code>. For example, <code>shift + e</code> for extrude.</li></ul>
    </li>
  <li>Verify that "Sketch 1" <img src="img/tutorial/sketch_1.png" /> is selected</li>
  <li>Set the <em>Depth</em> to <strong>3.0 in</strong></li>
  <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
</ul>


{% include section.html %}
<h3 class="section-heading">
  {% include step_counter.html %} Change view to look at the bottom of the fuselage
</h3>
<ul>
  <li>Hold the <strong>right mouse button</strong> to look at the bottom of the rocket</li>
  <li>Zoom in using the <strong>mouse wheel</strong> to get close to the bottom face</li>
</ul>
{% include tutorial-video.html path="videos/middle-body/look_at_bottom_of_extrude1" %}
</div>


{% include section.html %}

  <h3 class="section-heading">{% include step_counter.html %} Start a sketch on the lower stage connection tube</h3>
  {% include tutorial-video.html path="videos/middle-body/start_connector_tube_sketch_1" %}
  <ul>
    <li>Select the sketch tool <img src="img/tutorial/sketch-small.png" /></li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_ss">
        Keyboard shortcut &raquo;
      </a>
    </li>
    <li class="collapse" id="kb_shortcut_ss">
      <ul>
        <li>To enter a new sketch, press <code>shift + s</code>.</li>
      </ul>
    </li>
    <li>Click the <strong>bottom face</strong> of your tube to start sketching on that face</li>
    <ul>
      <li>Right click and select <em>View normal to sketch plane</em> to line up your view</li>
    </ul>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_n">
        Another keyboard shortcut &raquo;
      </a>
    </li>
    <li class="collapse" id="kb_shortcut_n">
      <ul>
        <li>Pressing <code>n</code> reorients the view to normal</li>
        <li>You can use this frequently after tilting and panning to reset.</li>
      </ul>
    </li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#upside_down1">
        Is it upside down? &raquo;
      </a>
    </li>
    <li class="collapse" id="upside_down1">
      <ul>
        <li>Click on the word "Bottom" on the rotation cube to turn it right-side-up.</li>
        <li><img src="img/tutorial/view_cube_bottom.png" /></li>
      </ul>
    </li>
  </ul>
  
  {% include section.html param="top" %}
  <h3 class="section-heading">{% include step_counter.html %} Finish the connector tube sketch</h3>
  {% include tutorial-video.html path="videos/middle-body/finish_connector_tube_sketch_1_1" %}
  <ul>
    <li>Select the Use (Project/Convert) tool <img src="img/tutorial/use_tool.png" /></li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#cant_find_use">
        Can't find it? &raquo;
      </a>
    </li>
    <li class="collapse" id="cant_find_use">
      <ol>
        <li>
          Try the <em>Search tools</em> feature, type <strong>"Use"</strong> into the box.
          <img src="img/tutorial/search_tools.png" />
        </li>
        <li>
          You might have exited your sketch. Do you see a box that says "Sketch 2" and has a green check?
          <ul>
            <li><img src="img/tutorial/sketch2_box.png" /></li>
            <li>If not, double click on Sketch 2 <img src="img/tutorial/sketch_2.png" /> to reenter your sketch</li>
          </ul>
        </li>
      </ol>
      <br />
    </li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_u">
        Keyboard shortcut &raquo;
      </a>
    </li>
    <li class="collapse" id="kb_shortcut_u">
      <ul>
        <li>
          Press <code>u</code> for the Use tool (lowercase, no 'shift', since we're back in a sketch).
        </li>
      </ul>
    </li>
    <li>Click on the <em>inner</em> circle</li>
    <ul>
      <li>That line will bold, as it becomes part of your sketch</li>
    </ul>
  </ul>

  {% include section.html %}
  <h3 class="section-heading">{% include step_counter.html %} Finish the connector tube sketch</h3>
  {% include tutorial-video.html path="videos/middle-body/finish_connector_tube_sketch_2_1" %}
  <ul>
    <li>Draw a smaller circle centered at the origin</li>
    <li>Dimension <strong>between</strong> the <strong>inner circle</strong> and the circle from the <strong>step above</strong> as <strong>0.032</strong></li>
  </ul>

  {% include section.html %}
  <h3 class="section-heading">{% include step_counter.html %} Extrude the connector</h3>
  {% include tutorial-video.html path="videos/middle-body/extrude_body_connector" %}
  <ul>
    <li>Select the extrude tool <img src="img/tutorial/extrude_tool.png" /></li>
    <li>Verify that "Sketch 2" is selected <img src="img/tutorial/sketch_2.png" /></li>
    <li>
      Click on <strong>Add</strong> to add to your part instead of creating a new part 
      <img src="img/tutorial/add.png" />
    </li>
    <li>Set the <em>Depth</em> to <strong>0.5 in</strong></li>
    <li>Check <em>Second end position</em></li>
    <li>Set the second <em>Depth</em> to <strong>0.25 in</strong></li>
    <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#no_circle">
        Didn't work? Part ended up different color? &raquo;
      </a>
    </li>
    <li class="collapse" id="no_circle">
      <ul>
        <li>Make sure you have the following set:</li>
        <ul>
          <li>Solid</li>
          <li>Add</li>
          <li>Sketch 2</li>
          <li>Merge scope: Part 1</li>
          <img src="img/tutorial/extrude_help.png" />
        </ul>
      </ul>
    </li>
  </ul>

  {% include section.html %}
  <h3 class="section-heading">{% include step_counter.html %} Turn on section view</h3>
  {% include tutorial-video.html path="videos/middle-body/section_view" %}
  <ul>
    <li>
      We want to see inside the tube, so we'll have our view cut away part of the tube.
      This <strong>does not change the part</strong>, just how we look at it
    </li>
    <li>Select the view menu <img src="img/tutorial/view_menu.png" /></li>
    <li>Select "Section view..."</li>
    <ul>
      <li><img src="img/tutorial/section_view.png" /></li>
    </ul>
    <li>Click on the <em>Right</em> plane <img src="img/tutorial/right_plane.png" /></li>
    <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
  </ul>

  {% include section.html %}
  <h3 class="section-heading">{% include step_counter.html %} Fillet the body connector ring</h3>
  {% include tutorial-video.html path="videos/middle-body/fillet_outer_ring" %}
  <ul>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#fillet-definition">
        What is a fillet? &raquo;
      </a>
    </li>
    <li class="collapse" id="fillet-definition">
      <ul>
        <li>
          <a href="https://en.wikipedia.org/wiki/Fillet_(mechanics)">Fillet</a>:
          &ldquo;a rounding of an interior or exterior corner of a part design.&rdquo;
        </li>
        <li>We use fillets to round-out edges, which is especially useful when 3D printing.</li>
      </ul>
    </li>
    <li>Select the fillet tool <img src="img/tutorial/fillet_tool.png" /></li>
    <li>
      <a class="btn help-button" data-toggle="collapse" data-target="#kb_shortcut_ff">
        Keyboard shortcut &raquo;
      </a>
    </li>
    <li class="collapse" id="kb_shortcut_ff">
      Since a fillet is a feature, not an element of a sketch, we press <code>shift + f</code>.
    </li>
    <li>Click on the outside ring of the ledge</li>
    <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
  </ul>
<ul>

{% include section.html %}
{% include rocket-nav.html title="Fuselage Tutorial" num_pages="3" %}



<!-- ============ UPDATED ADVANCED MODE SCRIPT =============== -->
<script>
  function toggleAdvancedMode() {
    const checkbox = document.getElementById('advancedModeSwitch');
    const advancedBox = document.getElementById('advanced-learning-toggle');
    const isChecked = checkbox.checked;

    // OPTIONAL: Make the toggle box "sticky" if ON
    if (isChecked) {
      advancedBox.classList.add('sticky-advanced-box');
    } else {
      advancedBox.classList.remove('sticky-advanced-box');
    }

    // 1) Insert or remove engineering drawings
    const allH3s = document.querySelectorAll('h3.section-heading');
    if (isChecked) {
      allH3s.forEach((h3) => {
        const headingText = h3.textContent.trim();

        // ---- Display fuselage-drawing-1.png ----
        if (
          headingText.includes("Create a sketch") ||
          headingText.includes("Draw the outer body circle") ||
          headingText.includes("Dimension the outer body circle") ||
          headingText.includes("Draw the inner circle") ||
          headingText.includes("Extrude the body")
        ) {
          let existingImg = h3.querySelector('.advanced-learning-pdf');
          if (!existingImg) {
            const img = document.createElement('img');
            img.src = "img/tutorial/fuselage-drawing-1.png";
            img.alt = "fuselage-drawing-1";
            img.width = 400; 
            img.classList.add('advanced-learning-pdf');
            img.style.display = 'block';
            img.style.margin = '10px 0';
            h3.appendChild(img);
          }
        }
        // ---- Display fuselage-drawing-2.png ----
        else if (
          headingText.includes("change view to look at the bottom of the fuselage") ||
          headingText.includes("Start a sketch on the lower stage connection tube") ||
          headingText.includes("Finish the connector tube sketch") ||
          headingText.includes("Extrude the connector")
        ) {
          let existingImg = h3.querySelector('.advanced-learning-pdf');
          if (!existingImg) {
            const img = document.createElement('img');
            img.src = "img/tutorial/fuselage-drawing-2.png";
            img.alt = "fuselage-drawing-2";
            img.width = 400; 
            img.classList.add('advanced-learning-pdf');
            img.style.display = 'block';
            img.style.margin = '10px 0';
            h3.appendChild(img);
          }
        }
        // ---- Display fuselage-drawing-3.png ----
        else if (headingText.includes("Fillet the body connector ring")) {
          let existingImg = h3.querySelector('.advanced-learning-pdf');
          if (!existingImg) {
            const img = document.createElement('img');
            img.src = "img/tutorial/fuselage-drawing-3.png";
            img.alt = "fuselage-drawing-3";
            img.width = 400; 
            img.classList.add('advanced-learning-pdf');
            img.style.display = 'block';
            img.style.margin = '10px 0';
            h3.appendChild(img);
          }
        }
      });
    } else {
      // Remove all inserted images
      allH3s.forEach((h3) => {
        const existingImg = h3.querySelector('.advanced-learning-pdf');
        if (existingImg) {
          h3.removeChild(existingImg);
        }
      });
    }

    // 2) Hide or restore all <ul> instructions (Procedures...)
    // 3) Hide or restore all videos (Video...)
    allH3s.forEach((h3, index) => {
      if (isChecked) {
        // If this heading wasn't already processed
        if (!h3.hasAttribute('data-collapse-bound')) {
          h3.setAttribute('data-collapse-bound', 'true');

          // ============== PROCEDURES ==============
          const procButton = document.createElement('a');
          procButton.className = "btn help-button";
          const procID = "procedures_block_" + index;
          procButton.setAttribute('data-toggle', 'collapse');
          procButton.setAttribute('data-target', '#' + procID);
          procButton.innerHTML = "Procedures... &raquo;";
          // Append the "Procedures..." button right after the heading text
          h3.appendChild(document.createTextNode(' '));
          h3.appendChild(procButton);

          const procDiv = document.createElement('div');
          procDiv.className = "collapse";
          procDiv.id = procID;

          // Store all <ul> instructions in data attribute, then move them
          h3.setAttribute('data-original-lists', '');
          let nextElem = h3.nextElementSibling;
          while (nextElem && !nextElem.matches('h3.section-heading')) {
            if (nextElem.tagName && nextElem.tagName.toLowerCase() === 'ul') {
              const existingVal = h3.getAttribute('data-original-lists');
              h3.setAttribute('data-original-lists', existingVal + '<!--SPLIT-->' + nextElem.outerHTML);
              procDiv.appendChild(nextElem);
            }
            nextElem = nextElem.nextElementSibling;
          }
          // Insert the Procedures block below this heading
          h3.parentNode.insertBefore(procDiv, nextElem);

          // ============== VIDEO ==============
          const vidButton = document.createElement('a');
          vidButton.className = "btn help-button";
          const vidID = "video_block_" + index;
          vidButton.setAttribute('data-toggle', 'collapse');
          vidButton.setAttribute('data-target', '#' + vidID);
          vidButton.innerHTML = "Video... &raquo;";
          // Append the "Video..." button AFTER the Procedures button
          h3.appendChild(document.createTextNode(' '));
          h3.appendChild(vidButton);

          const vidDiv = document.createElement('div');
          vidDiv.className = "collapse";
          vidDiv.id = vidID;

          // We'll store any "video" snippet in data-original-videos
          h3.setAttribute('data-original-videos', '');
          let scanVideo = h3.nextElementSibling;
          while (scanVideo && !scanVideo.matches('h3.section-heading')) {
            const videoHTML = scanVideo.outerHTML.toLowerCase();
            const isVideoSnippet = (
              videoHTML.indexOf("videos/") >= 0 ||
              videoHTML.indexOf("tutorial-video") >= 0 ||
              videoHTML.indexOf("<iframe") >= 0
            );
            if (isVideoSnippet) {
              const existingVidVal = h3.getAttribute('data-original-videos');
              h3.setAttribute('data-original-videos', existingVidVal + '<!--SPLIT-->' + scanVideo.outerHTML);
              vidDiv.appendChild(scanVideo);
            }
            scanVideo = scanVideo.nextElementSibling;
          }
          // Insert the Video block *below* the Procedures block
          h3.parentNode.insertBefore(vidDiv, nextElem);
        }
      } else {
        // ============= TOGGLE OFF => REVERT ============

        // If already collapsed once, restore
        if (h3.hasAttribute('data-collapse-bound')) {

          // Remove the collapsible DIV for Procedures
          const procID = "procedures_block_" + index;
          const procDiv = document.getElementById(procID);
          if (procDiv) {
            procDiv.parentNode.removeChild(procDiv);
          }
          // Re-inject the <ul>
          const originalLists = h3.getAttribute('data-original-lists');
          if (originalLists) {
            const splitted = originalLists.split('<!--SPLIT-->');
            splitted.forEach((ulHTML) => {
              if (ulHTML.trim() !== '') {
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = ulHTML;
                while (tempDiv.firstChild) {
                  h3.parentNode.insertBefore(tempDiv.firstChild, h3.nextElementSibling);
                }
              }
            });
            h3.removeAttribute('data-original-lists');
          }

          // Remove the collapsible DIV for Videos
          const vidID = "video_block_" + index;
          const vidDiv = document.getElementById(vidID);
          if (vidDiv) {
            vidDiv.parentNode.removeChild(vidDiv);
          }
          // Re-inject the video snippet
          const originalVideos = h3.getAttribute('data-original-videos');
          if (originalVideos) {
            const splittedVid = originalVideos.split('<!--SPLIT-->');
            splittedVid.forEach((vidHTML) => {
              if (vidHTML.trim() !== '') {
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = vidHTML;
                while (tempDiv.firstChild) {
                  h3.parentNode.insertBefore(tempDiv.firstChild, h3.nextElementSibling);
                }
              }
            });
            h3.removeAttribute('data-original-videos');
          }

          // Remove the "Procedures..." and "Video..." buttons
          const buttons = h3.querySelectorAll('a.btn.help-button[data-toggle="collapse"]');
          buttons.forEach((btn) => h3.removeChild(btn));

          h3.removeAttribute('data-collapse-bound');
        }
      }
    });
  }
</script>
