  <section class="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    {% include rocket-nav.html title="Fuselage Tutorial" num_pages="4" %}
                    <h3 class="section-heading">{% include step_counter.html %} Start the sketch to add your name to the rocket</h3>
                    <ul>
                        <li>Start a new sketch <img src="img/tutorial/sketch.png" /></li>
                        <li>Select the front plane <img src="img/tutorial/front_plane.png" /></li>
                        <li>Press <code>n</code> to line up your view (if upside down, click 'Front' on the view cube).</li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_sketch1" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Add your name</h3>
                    <ul>
                        <li>Select the "Text" tool <img src="img/tutorial/text.png" /></li>
                        <li>Draw a box near your rocket and type your name with <strong>Enter</strong> after each letter</li>
                        <ul><li>A<br />N<br />D<br />Y<br /></li></ul>
                        <li>Select the <strong>Roboto Slab</strong> font <img src="img/tutorial/roboto_slab.png" /></li>
                        <li>Press the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_sketch2" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Constrain your name</h3>
                    <ul>
                        <li>Select the "Coincident" tool <img src="img/tutorial/coincident_tool.png" /></li>
                        <li>Select the point that is the center of the top line above the first letter</li>
                        <li>Select the line running down the center of the rocket</li>
                        <ul><li>You should see the letters jump to the center</li></ul>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_sketch3" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Dimension your name</h3>
                    <ul>
                        <li>Press <strong>Esc</strong> to deselect the coincident tool</li>
                        <li>Drag the dashed line around the letters so that the top is below the top of the rocket</li>
                        <li>Select the "Dimension" tool <img src="img/tutorial/dimension_tool.png" /></li>
                        <li>Select the top of the rocket</li>
                        <li>Select the top of the box around the first letter</li>
                        <li>Set the dimension to <strong>0.25</strong></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_sketch4" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Dimension your name (2)</h3>
                    <ul>
                        <li>Select the "Dimension" tool <img src="img/tutorial/dimension_tool.png" /></li>
                        <li>Select the <em>side</em> of the box around the first letter</li>
                        <li>Set the dimension to whatever makes all the letters fit on the rocket.  It's probably around <strong>0.4</strong></li>
                        <ul><li>Make sure the letters <strong>don't</strong> go below the notch into the smaller diameter section</li></ul>
                        <li>Press the green check to finish the sketch <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_sketch5" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Wrap your name</h3>
                    <ul>
                        <li>Select the "Wrap" tool <img src="img/tutorial/wrap_tool.png" /> (in a menu under the "Boolean" tool <img src="img/tutorial/bool_tool.JPG" />).</li>
                        <li>Select <strong>Solid</strong> </li>
                        <li>Click on the box for <em>Tools</em> and select <em>Sketch 4</em> <img src="img/tutorial/sketch_4.png" /></li>
                        <li>Click on the box for <em>Target</em> and then click on the outside of the rocket body.</li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_wrap1" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Wrap your name (2)</h3>
                    <ul>
                        <li>Right-click and drag the mouse to view the solid letters. If they are backwards, click the "Opposite direction" button <img src="img/tutorial/opposite_direction_button.png" /> next to <em>Target</em>.</li>
                        <li>Set <em>Thickness</em> to <strong>0.02</strong></li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_wrap2" %}
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Rename your part studio... you're done with the fuselage!</h3>
                    {% include tutorial-video.html path="videos/middle-body/rename_part_studio" %}
                    <ul>
                        <li>Right-click on the <strong>Part Studio 1</strong> tab on the bottom left <img src="img/tutorial/part_studio1.png" /></li>
                        <li>Select <em>Rename</em></li>
                        <ul><li><img src="img/tutorial/rename_menu_item.png" /></li></ul>
                        <br />
                        <li>Rename it to "<strong>Middle Body</strong>"</li>
                        <ul><li style="font-size: 75%">You're already thinking of skipping this... but then your future self will be sad...</li></ul>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
    
    

    <!--<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Extrude your name (1)</h3>
                    <ul>
                        <li>Select the "Extrude" tool <img src="img/tutorial/extrude_tool.png" /></li>
                        <li>Select <em>Sketch 4</em> <img src="img/tutorial/sketch_4.png" /></li>
                        <li>Change <strong>Blind</strong> to <strong>Up to face</strong></li>
                        <li>Click on the box for <em>Up to face</em> (to select it if not already selected)</li>
                        <li>Click on the outer surface of the rocket</li>
                        <ul><li>Don't press the check yet, we have more options to set below</li></ul>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_extrude1" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Extrude your name (2)</h3>
                    <ul>
                        <li>Still in the extrude menu, set the <em>Offset distance</em> to <strong>0.02</strong></li>
                        <li>Press the "Opposite direction" button next to <em>Offset distance</em> <img src="img/tutorial/opposite_direction_button.png" /></li>
                        <ul><li>You should now see your name on the rocket</li></ul>
                        <li>Press the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_extrude2" %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Remove the name extrude from the inside</h3>
                    <ul>
                        <li>Select the "Extrude" tool <img src="img/tutorial/extrude_tool.png" /></li>
                        <li>Select <em>Sketch 4</em> (again) <img src="img/tutorial/sketch_4.png" /></li>
                        <li>Change <em>Blind</em> to <strong>Up to face</strong></li>
                        <li>Click on the box for <em>Up to face</em> (to select it if not already selected)</li>
                        <li>Click on the <strong>inside surface</strong> of the rocket</li>
                        <li>Select <strong>Remove</strong></li>
                        <ul><li>You'll see the inside of the tube empty of your name</li></ul>
                        <li>Press the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include tutorial-video.html path="videos/middle-body/text_extrude3" %}
                </div>
            </div>
        </div>
    </section>-->
    
    
    
                    <!-- <h3 class="section-heading">26. Rename your part studio... you're done with the fuselage!</h3>
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-left">
                                    <h3 class="section-heading">{% include step_counter.html %} Rename your part studio... you're done with the fuselage!</h3>
                                        <ul>
                                            <li>Name it "<strong>Middle Body</strong>"</li>
                                            <ul><li style="font-size: 75%">You're already thinking of skipping this... but then your future self will be sad...</li></ul>
                                        </ul>
                    {% include tutorial-video.html path="videos/middle-body/rename_part_studio" %} -->
    
    
    
    
