
    {% include section.html %}
                    <h3 class="section-heading">4. Create a sketch</h3>
                    {% include tutorial-video.html path="videos/middle-body/create_sketch_top_plane" %}
                    <ul>
                        <li>Select the sketch tool <img src="img/tutorial/sketch-small.png" /></li>
                        <li>Select a <strong>sketch plane</strong>.  Use the <strong>Top</strong> <img src="img/tutorial/top_side_menu.png" /> plane.</li>
                        <!-- <ul><li><img src="img/tutorial/top_plane.png" height="150" /></li></ul> -->
                        <ul><li><img src="img/tutorial/top_features.png" /> <span style="display:inline-block; width: 10%; text-align: center;"><i class="fa fa-long-arrow-right"></i> </span><img src="img/tutorial/top_plane_sketch_box.png" /></li></ul>
                        <li>Align your view to the sketch plane by clicking "Top" on the view cube</li>
                        <ul><li><img src="img/tutorial/view_cube_top.png" /></li></ul>
                        <li>Make sure you have selected the <strong>Top</strong> plane. In the upper right, you should see "Top Plane" under <em>sketch plane</em></li>
                    </ul>

    {% include section.html %}
                    <h3 class="section-heading">5. Draw the outer body circle</h3>
                    {% include tutorial-video.html path="videos/middle-body/draw_outer_circle2" %}
                    <ul>
                        <li>Select the circle tool <img src="img/tutorial/circle_tool.png" /></li>
                        <ul class="help-button">
                            <li><a class="btn help-button" data-toggle="collapse" data-target="#no_circle">Can't find it? &raquo;</a></li>
                            <li class="collapse" id="no_circle">You might have exited your sketch.  Double click on "Sketch 1" <img src="img/tutorial/sketch_1.png" /> to reenter the sketch.</li>
                        </ul>
                        <li>Draw a circle.  <strong>Be sure to snap it to the origin</strong>.
                    </ul>
                    

    {% include section.html %}
                    <h3 class="section-heading">6. Dimension the outer body circle</h3>
                    {% include tutorial-video.html path="videos/middle-body/draw_outer_circle_dimension" %}
                    <ul>
                        <li>Select the dimension tool <img src="img/tutorial/dimension_tool.png" /></li>
                        <li>Click on your circle and set its diameter to <strong>0.781 in</strong></li>
                    </ul>
                    
    
    {% include section.html %}
                    <h3 class="section-heading">7. Draw the inner circle</h3>
                    {% include tutorial-video.html path="videos/middle-body/draw_inner_circle" %}
                    <ul>
                        <li>Select the circle tool <img src="img/tutorial/circle_tool.png" /></li>
                        <li>Draw a circle inside your first circle.  <strong>Be sure to snap it to the origin</strong>.
                        <li>Select the dimension tool <img src="img/tutorial/dimension_tool.png" /></li>
                        <li>Click <em>first</em> on the outer circle and <em>then</em> on the inner circle and set the difference between them to <strong>0.025 in</strong></li>
                    </ul>
                    
    
    {% include section.html %}
                    <h3 class="section-heading">8. Extrude the body</h3>
                    {% include tutorial-video.html path="videos/middle-body/extrude_body" %}
                    <ul>
                        <li>Exit the sketch by clicking the green check <img src="img/tutorial/green_check.png" /></li>
                        <li>Select the extrude tool <img src="img/tutorial/extrude_tool.png" /></li>
                        <li>Select "Sketch 1" <img src="img/tutorial/sketch_1.png" /> from the left pane </li>
                        <li>Set the <em>Depth</em> to <strong>3.0 in</strong></li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    
    
                        
