    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Moving your view in 3D</h3>
                    {% include tutorial-video.html path="videos/getting-started/camera_controls" %}
                    <ul>
                        <li>Turn your view: <strong>right-click + drag</strong></li>
                        <li>Pan/slide: <strong>Middle-button + drag</strong> to pan/slide your view</li>
                        <ul><li>If you don't have a middle button, you can use Ctrl + right click + drag to pan/slide your view</li></ul>
                        <li>Zoom: <strong>scroll wheel</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
