<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #f05f40; min-height: 2px;">
    <div class="container-fluid">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
            </button>
            <a href="index.html">
                <img id="logo" src="img/stageone-logo-orange-small.png" alt="Stage One Logo"
                    style="width: 150px; height: auto; margin-top: 5px; margin-left: 100px; margin-right: 20px; margin-bottom: 5px; opacity: 1;">
            </a>
        </div>

        <!-- Navigation Links and Inline Logo -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-main-links">
                {% assign on_home_page = page.url == '/' or page.url == '/index.html' %}
                {% if on_home_page %}
                <li class="dropdown nav-dropdown">
                    <a href="#" class="nav-button-stageone dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        Workshops <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav-dropdown-menu">
                        <li><a class="nav-dropdown-link" href="ai-workshop.html">AI</a></li>
                        <li><a class="nav-dropdown-link" href="robotics-workshop.html">Robotics</a></li>
                        <li><a class="nav-dropdown-link" href="rocket-workshop.html">Mechanical</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="index.html" class="nav-button-stageone">Home</a>
                </li>
                {% endif %}
                <li>
                    <a href="locations.html" class="nav-button-stageone">
                        Locations
                    </a>
                </li>
                <li>
                    <a href="instructors.html" class="nav-button-stageone">
                        Instructors
                    </a>
                </li>
                <li>
                    <a href="feedback.html" class="nav-button-stageone">
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="contact.html" class="nav-button-stageone">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="about-us.html" class="nav-button-stageone">
                        About
                    </a>
                </li>
                <!-- "Request a demo" button -->
                <li class="nav-request-demo">
                    <a href={% include demo_link.html %} target="_blank" class="nav-button-stageone-highlight">
                        Request a demo
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

