<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" 
     style="background-color: #f05f40; min-height: 40px;">
  <div class="container-fluid">
    <!-- Navbar Header -->
    <div class="navbar-header" 
         style="display: flex;
                align-items: center;
                height: 40px;">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
      </button>
      
      <!-- Main Title and Divider -->
      <span style="font-size: 18px; margin-left: 10px; font-family: 'Roboto', sans-serif;">
        <!-- STAGE ONE EDUCATION linking to index.html -->
        <a href="index.html"
           style="color: #fff;
                  text-decoration: none;
                  text-transform: uppercase;
                  font-weight: bold;">
          STAGE ONE EDUCATION
        </a>
        
        <!-- 2px White Vertical Line -->
        <span style="border-left: 2px solid #fff;
                     display: inline-block;
                     width: 2px;
                     height: 20px;
                     margin: 0 10px;
                     vertical-align: middle;">
        </span>
        
        <!-- Artificial Intelligence Workshop Text -->
        <span style="color: #fff;
                     font-family: 'Roboto', sans-serif;
                     font-weight: normal;">
          <a href="ai-workshop.html" style="color: #fff; text-decoration: none;">
            Artificial Intelligence Workshop
          </a>
        </span>
      </span>
    </div>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" 
         id="bs-example-navbar-collapse-1"
         style="margin-bottom: 2px; margin-top: 1px;">
      <!-- Left-aligned Links (if any) -->
      <ul class="nav navbar-nav">
        <!-- Additional links can go here -->
      </ul>

      <!-- Right-aligned links (Contact) -->
      <ul class="nav navbar-nav navbar-right" 
          style="margin-right: 50px; 
                 display: flex; 
                 align-items: center; 
                 height: 40px;">
        <li>
          <a href="contact.html" class="nav-button-stageone">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
