<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #f05f40; min-height: 2px;">
    <div class="container-fluid">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
                <span class="icon-bar" style="background-color: white;"></span>
            </button>
            <a href="index.html">
                <img src="img/stageone-logo-orange-small.png" alt="Stage One Logo"
                    style="width: 150px; height: auto; margin-top: 5px; margin-left: 100px; margin-right: 20px; margin-bottom: 5px;">
            </a>
        </div>

        <!-- Navigation Links and Inline Logo -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style=" margin-bottom: 2px; margin-top: 1px;">
            <ul class="nav navbar-nav">

                <!-- "Request a demo" button -->
                <li>
                    <a href={% include demo_link.html %} target="_blank" class="nav-button-stageone-highlight">
                        Request a demo
                    </a>
                </li>

                <li>
                    <a href="index.html" class="nav-button-stageone">Home</a>
                </li>
                <li>
                    <a href="presentations.html" class="nav-button-stageone">
                        Presentations
                    </a>
                </li>
                <li>
                    <a href="locations.html" class="nav-button-stageone">
                        Locations
                    </a>
                </li>
                <li>
                    <a href="instructors.html" class="nav-button-stageone">
                        Instructors
                    </a>
                </li>
                <li>
                    <a href="feedback.html" class="nav-button-stageone">
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="contact.html" class="nav-button-stageone">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="about-2.html" class="nav-button-stageone">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

