   
   <header class="not-full-page">
    <div class="header-content" 
         style="display:flex; 
                justify-content:center; 
                align-items:center; 
                margin-left:-250px;">
      <div class="header-content-inner" 
           style="display:flex; 
                  align-items:center; 
                  justify-content:center; 
                  text-align:right;">
        <!-- Text on the left -->
        <div>
          <h2 style="margin-bottom:10px;">NOSECONE</h2>
          <p style="margin-right:0;">
            <em>revolve</strong> a customized sketch</em>
          </p>
        </div>
        <!-- Vertical line and image -->
        <div style="width:2px; background-color:#f05f40; margin-left:40px; margin-right:10px; height:150px;"></div>
        <img 
            src="img/tutorial/nosecone-iso.png" 
            alt="fuselage-iso" 
            style="width:150px; height:auto;"
        >
      </div>
    </div>
</header>



      