
<header class="not-full-page">
    <div class="header-content" 
         style="display:flex; 
                justify-content:center; 
                align-items:center; 
                margin-left:-250px;">
      <div class="header-content-inner" 
           style="display:flex; 
                  align-items:center; 
                  justify-content:center; 
                  text-align:right;">
        <!-- Text on the left -->
        <div>
          <h2 style="margin-bottom:10px;">NOSECONE</h2>
          <p style="margin-right:0;">
            <em>Add support on the part</em>
          </p>
        </div>
        <!-- Vertical line and image -->
        <div style="width:2px; background-color:#f05f40; margin-left:40px; margin-right:10px; height:150px;"></div>
        <img 
            src="img/tutorial/nosecone-iso.png" 
            alt="fuselage-iso" 
            style="width:150px; height:auto;"
        >
      </div>
    </div>
  </header>


    <section class="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                        {% include rocket-nav.html title="Nosecone Tutorial" num_pages="3" %}
                    </div>
                </div>
              </div>
            </section>
                    
                    
      {% include section.html param="top" %}
      {% include adv-drawing-toggle.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Look at the bottom of your extrude</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/look_at_bottom_of_extrude1" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Hold the <strong>right mouse button</strong> to look at the bottom of the rocket</li>
                        <li>Zoom in using the <strong>mouse wheel</strong> to move the camera close to the bottom face</li>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Start a sketch for the string bridge on your tube</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/bridge_sketch1" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the sketch tool <img src="img/tutorial/sketch-small.png" /></li>
                        <li>Click the <strong>bottom face</strong> of your tube to start sketching on that face</li>
                        <ul>
                            <li>Right click and select <em>View normal to sketch plane</em> to line up your view</li>
                        </ul>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Start to draw the string bridge</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/bridge_sketch2" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the Use (Project/Convert) tool <img src="img/tutorial/use_tool.png" /></li>
                        <li>Click on the <em>inner</em> circle</li>
                        <ul><li>That line will bold, as it becomes part of your sketch</li></ul>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Draw the bridge</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/bridge_sketch3" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the Line tool <img src="img/tutorial/line_tool.png" /></li>
                        <ul>
                            <li>Click on the left side of the inner circle</li>
                            <li>Click on the right side of the inner circle</li>
                            <li>Right click and select <em>escape line</em></li>
                        </ul>
                        <li>Repeat to draw a second line below the first</li>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Dimension the bridge</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/bridge_sketch4" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the dimension tool <img src="img/tutorial/dimension_tool.png" /></li>
                        <li>Click the first line, then the second</li>
                        <li>Set the dimension to <strong>0.1</strong></li>
                        <li>Select the <em>Equal</em> tool <img src="img/tutorial/constraints_dropdown.png" /> <i class="fa fa-arrow-right"></i> <img src="img/tutorial/equal_tool_menu.png" /></li>
                        <li>Click on each line to make their lengths' equal</li>
                        <li><a class="btn help-button" data-toggle="collapse" data-target="#fully-defined">Did you notice how the lines turned black? &raquo;</a></li>
                        <ul class="collapse" id="fully-defined">
                            <li>Black lines mean, &ldquo;fully defined,&rdquo; which means that you have told Onshape exactly where the line is.</li>
                            <li>If a line is blue, it means that there are still things to be constrained or dimensioned.</li>
                        </ul>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Finish the sketch</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/bridge_sketch5" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the "Trim" tool <img src="img/tutorial/trim_tool.png" /></li>
                        <li>Select the part of the circle outside the lines</li>
                        <ul>
                            <li>On the top</li>
                            <li>On the bottom</li>
                        </ul>
                        <li>Click the green check to finish the sketch <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Extrude the bridge</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/extrude_bridge_sketch" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li>Select the extrude tool <img src="img/tutorial/extrude_tool.png" /></li>
                        <li>Click on "Sketch 2" <img src="img/tutorial/sketch_2.png" />
                        <li>Click on <strong>Add</strong> to add to your part instead of creating a new part</li>
                        <li>Set the <em>Depth</em> to <strong>0.25 in</strong></li>
                        <li>Click the "Opposite direction" button <img src="img/tutorial/opposite_direction_button.png" /> to make the bridge go inside your tube</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include section.html %}

                    <h3 class="section-heading">{% include step_counter.html %} Strengthen the bridge with fillets</h3>
                    {% include adv-drawing.html path="img/tutorial/nosecone-drawing-2.png" %}
                    {% include tutorial-video.html path="videos/nosecone/fillet_nosecone_bridge" %}
                    {% include written-instructions.html %}
                    <ul>
                        <li><a class="btn help-button" data-toggle="collapse" data-target="#fillet-definition">What is a fillet? &raquo;</a></li>
                        <ul class="collapse" id="fillet-definition">
                            <li><a href="https://en.wikipedia.org/wiki/Fillet_(mechanics)">Fillet</a>: &ldquo;a rounding of an interior or exterior corner of a part design.&rdquo;</li>
                        </ul>
                        <li>Select the "fillet" tool <img src="img/tutorial/fillet_tool.png" /></li>
                        <li>Set the radius to <strong>0.05</strong></li>
                        <li>Click the 4 edges of your bridge</li>
                        <li>Click the green check <img src="img/tutorial/green_check.png" /></li>
                    </ul>
                    {% include section.html param="bottom" %}

                        {% include rocket-nav.html title="Nosecone Tutorial" num_pages="3" %}
                    
    
