
    
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Send your STL files to the printer</h3>
                    <ul>
                        <li>Email your STL files to <a href="mailto:3dprinter@stageoneeducation.com">3dprinter@stageoneeducation.com</a></li>
                    </ul>
                    
    {% include section.html %}
                        
                    <h3 class="section-heading">{% include step_counter.html %} If you have extra time, add flair to your rocket or build something new</h3>
                    <ul>
                        <li>Possibilities:</li>
                        <ul>
                            <li>Nameplate</li>
                            <li>Cell phone stand</li>
                            <li>Windmill</li>
                            <li>Necklace</li>
                            <li>Bubble maker</li>
                        </ul>
                    </ul>
    
    {% include section.html param="bottom" %}

