
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Start building</h2>
                    <hr class="long" />
                    <p>Each member of your team should choose a <strong>different</strong> part.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-4">
                    <div style="text-align: center" width="100%"><a href="teams-middle-body1.html">1. Fuselage</a></div>
                    <a href="teams-middle-body1.html" class="portfolio-box" align="center">
                        <img src="img/portfolio/middle-body.jpg" class="img-responsive" style="margin: auto" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div style="text-align: center" width="100%"><a href="teams-lower-body1.html">2. Fins + Booster</a></div>
                    <a href="teams-lower-body1.html" class="portfolio-box">
                        <img src="img/portfolio/lower-body.jpg" class="img-responsive" style="margin: auto" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div style="text-align: center" width="100%"><a href="teams-nosecone1.html">3. Nosecone</a></div>
                    <a href="teams-nosecone1.html" class="portfolio-box">
                        <img src="img/portfolio/nosecone.jpg" class="img-responsive" style="margin: auto" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--
                <div class="col-lg-3 col-sm-3">
                    <div style="text-align: center" width="100%"><a href="teams-assembly1.html">4. Assembly</a></div>
                    <div>
                    <a href="teams-assembly1.html" class="portfolio-box">
                        <img src="img/portfolio/rocket.jpg" class="img-responsive" style="margin: auto" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
                -->
            </div>
        </div>
    </section>
