<section>
    <div class="container">
      <div class="row">
        <!-- 1) Change text-left to text-center here -->
        <div class="col-lg-12 text-center"> 
  
          {% assign step_counter = 0 %}
  
          <!-- 2) Now the paragraphs are centered -->
          <h2>Next, work on <strong>another part</strong> of the rocket.</h2>
          <hr class="long" />
            
          <section class="no-padding" id="portfolio">
            <div class="container-fluid">
              <div class="row no-gutter popup-gallery">
                
                {% if include.exclude != "fuselage" %}
                <div class="col-lg-4 col-sm-4">
                  <div style="text-align: center" width="100%">
                    <a href="fuselage-team2.html">
                      <br />{% include step_counter.html %} Fuselage
                    </a>
                  </div>
                  <a href="fuselage-team2.html" class="portfolio-box" align="center">
                    <img src="img/portfolio/middle-body.jpg" class="img-responsive" style="margin: auto" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
  
                {% if include.exclude != "lower-body" %}
                <div class="col-lg-4 col-sm-4">
                  <div style="text-align: center" width="100%">
                    <a href="lower-body-team1.html">
                      <br />{% include step_counter.html %} Fins + Booster
                    </a>
                  </div>
                  <a href="lower-body-team1.html" class="portfolio-box">
                    <img src="img/portfolio/lower-body.jpg" class="img-responsive" style="margin: auto" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
  
                {% if include.exclude != "nosecone" %}
                <div class="col-lg-4 col-sm-4">
                  <div style="text-align: center" width="100%">
                    <a href="nosecone-team1.html">
                      <br />{% include step_counter.html %} Nosecone
                    </a>
                  </div>
                  <a href="nosecone-team1.html" class="portfolio-box">
                    <img src="img/portfolio/nosecone.jpg" class="img-responsive" style="margin: auto" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
  
                {% if include.exclude != "assembly" %}
                <div class="col-lg-4 col-sm-4">
                  <div style="text-align: center; width:100%;">
                    <!-- Use a span to set a smaller font size -->
                    <span style="font-size: 0.8em;">
                      (if your whole team has finished)
                    </span>
                    <a href="assembly-team1.html">
                      <br />{% include step_counter.html %} Assembly
                    </a>
                  </div>
                  <a href="assembly-team1.html" class="portfolio-box">
                    <img src="img/portfolio/rocket.jpg" class="img-responsive" style="margin: auto" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
                
  
              </div>
            </div>
          </section>
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  