{% assign step_counter = 1 %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3 class="section-heading">{% include step_counter.html %} Share a document</h3>
                    <ul>
                        <li>Pick <font color="red"><strong>one</strong></font> member of your team to create the shared document.</li>
                        <li>It does not matter who, everyone will equal access to it.</li>
                        <br />
                        <ul class="nav nav-tabs">
                          <li role="presentation" data-toggle="collapse" data-target="#not_create, #not_create2"><a class="page-scroll">I will <u>not</u> create it</a></li>
                          <li role="presentation" data-toggle="collapse" data-target="#will_create,
                        #will_create2"><a> I will create it</a></li>
                        </ul>
                        <br />
                        <div id="sharedoc2">
                            <div class="panel">
                                <ul class="collapse" id="not_create2" data-parent="#sharedoc2">
                                    <li>You will <u>not</u> create the shared document</li>
                                </ul>
                                <ul class="collapse" id="will_create2" data-parent="#sharedoc2">
                                    <li>You <u>will</u> create the shared document</li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <div id="sharedoc">
        <div class="panel">
            <div class="collapse" id="not_create2" data-parent="#sharedoc">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <h3 class="section-heading">{% include step_counter.html %} Sign-in to Onshape</h3>
                                {% include tutorial-video.html path="videos/getting-started/login" %}
                                <ul>
                                    <li><a href="https://cad.onshape.com/signin">Sign-in</a> to Onshape</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <h3 class="section-heading">{% include step_counter.html %} Wait for your team-member to make the document</h3>
                                <ul>
                                    <li>It won't take too long</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <h3 class="section-heading">{% include step_counter.html %} Open the shared document</h3>
                                {% include tutorial-video.html path="videos/getting-started/open_shared_document" %}
                                <ul>
                                    <li>Click the <strong>Shared with me</strong> section <img src="img/tutorial/shared_with_me.png" /></li>
                                    <li>Select the new shared document</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                {% include moving-your-view-in-3d.html %}
                
                {% include start-building.html %}
                
                <section>
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <div class="panel">
            <div class="collapse" id="will_create" data-parent="#sharedoc">

                {% assign step_counter = 2 %}

                {% include create-a-new-document.html %}

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <h3 class="section-heading">{% include step_counter.html %} Share the document with your teammates</h3>
                                {% include tutorial-video.html path="videos/getting-started/share_document" %}
                                <ul>
                                    <li>Press the <strong>Share</strong> button <img src="img/tutorial/share.png" /></li>
                                    <li>Enter your partners' Onshape logging accounts in the box</li>
                                    <li>Press <strong>Share</strong> <img src="img/tutorial/share.png" /></li>
                                    <li>Press "Close"</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <h3 class="section-heading">{% include step_counter.html %} Ensure your partners' can open the document</h3>
                                <ul>
                                    <li>Look at your partners' screens and make sure they are able to open the shared document</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                
                {% include moving-your-view-in-3d.html %}
                
                {% include start-building.html %}
                
                <section>
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
