<div class="adv-video-toggle" style="text-align: left; display: none;">
  <a class="btn help-button" data-toggle="collapse"
    data-target="#adv_video_{% include adv-hide-counter.html %}">
    Video &raquo;
  </a>
</div>
<div class="video-container step-video" id="adv_video_{% include adv-hide-counter.html param="no-increment" %}">
  <video autoplay loop muted playsinline class="tutorial-video" onmouseover="this.pause()" onmouseout="this.play()"
    ontimeupdate="updateProgressBar(this)">
    <source src="{{ include.path }}.webm" type="video/webm">
    <source src="{{ include.path }}.mp4" type="video/mp4">
  </video>

  <!-- Icons container -->
  <div class="control-icons">
    <div class="play-icon" onclick="togglePlayPause(this)"></div>
    <div class="pause-icon" onclick="togglePlayPause(this)"></div>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar"></div>
  </div>
</div>
