
    
                    
    {% include section.html %}
                    <h3 class="section-heading">{% include step_counter.html %} Send your STL <strong>team's</strong> files to the printer</h3>
                    <ul>
                        <li>We'll print 1 rocket for your team</li>
                        <li>Decide among yourselves which part each of you wants to have printed</li>
                        <li>Email / USB drive the STL files onto a single computer</li>
                        <li>Fill out <a href="https://script.google.com/macros/s/AKfycbxctAO7dtngVeIjs1k-zSXSlY2U8hXFw3KfYpBRxSSAtVQGHgk/exec" target="_blank">this form</a> to upload your <strong>team's</strong> 3 STL files.</li>
                    </ul>
                    
    {% include section.html %}
                        
                    <h3 class="section-heading">{% include step_counter.html %} If you have extra time, add flair to your rocket or build something new</h3>
                    <ul>
                        <li>Possibilities:</li>
                        <ul>
                            <li>Nameplate</li>
                            <li>Cell phone stand</li>
                            <li>Windmill</li>
                            <li>Necklace</li>
                            <li>Bubble maker</li>
                        </ul>
                    </ul>
    
    {% include section.html param="bottom" %}

