<!DOCTYPE html>
<html lang="en">

{% assign page_filename = page.path | split:'/' | last %}
{% assign is_teams = page_filename | split:'-' | first %}
{% if is_teams == "teams" %}
    {% assign teams_prefix = "teams-" %}
{% else %}
    {% assign teams_prefix = "" %}
{% endif %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="https://stageoneeducation.com/cad-tutorial/img/rocket_workshop_thumbnail2.png" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://stageoneeducation.com/favicon.ico" />

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative-rocket.css" type="text/css">

    <!-- Additional custom styling -->
    <style>
      /* Navbar transition styling */
      #mainNav {
        background-color: transparent;
        transition: background-color 0.3s ease;
        border-bottom: none;
      }
      #mainNav.scrolled {
        background-color: #fff;
        border-bottom: 1px solid #d5d5d5;
      }

      /* Default hover styling */
      .heading-hover {
        color: gray;
        transition: color 0.3s ease;
        text-decoration: none;
      }
      .heading-hover:hover {
        color: #f05f40;
      }
      
      /* Special class to make the link appear hovered permanently */
      .always-hovered {
        color: #f05f40 !important;
      }
      
      /* Override any text-transform that might be forcing uppercase globally */
      .navbar-brand, .navbar-brand * {
        text-transform: none !important;
      }
    </style>

    <!-- Removed scripts that control scrolling behavior -->
    <!-- <script src="video_play_at_scroll.js"></script> -->
    <!-- <script src="js/creative.js"></script> -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-86650838-1');
      gtag('config', 'AW-716077034');
    </script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- Ensures no forced uppercase -->
                <a class="navbar-brand page-scroll" href="https://stageoneeducation.com" 
                   style="display:flex; align-items:center; text-transform:none; ">
                   
                   {% if page_filename == "portal.html" %}
                     <!-- Larger text on the portal page (logo removed) -->
                     <span style="font-size:20px;">
                       <strong style="text-transform:uppercase; ">STAGE ONE EDUCATION</strong>
                       <span style="text-transform:none; font-weight:normal; color: #777;">
                         Mechanical Engineering Workshop
                       </span>
                     </span>
                   {% else %}
                     <!-- All other pages: text only, no logo -->
                     <span style="font-size:15px;">
                       <strong style="text-transform:uppercase;">STAGE ONE EDUCATION</strong>
                       <span style="text-transform:none; font-weight:normal; color: #777;">
                         Mechanical Engineering Workshop
                       </span>
                     </span>
                   {% endif %}
                </a>
            </div>

            <!-- Navigation links always visible except on portal.html -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if page_filename != "portal.html" %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="getting-started-link" class="heading-hover" href="{{ teams_prefix }}index-single.html">Getting Started</a></li>
                    <!-- ADDED ID FOR FUSELAGE LINK -->
                    <li><a id="fuselage-link" class="heading-hover" href="{{ teams_prefix }}fuselage-single2.html">Fuselage</a></li>
                    <li><a class="heading-hover" href="{{ teams_prefix }}lower-body1.html">Fins+Booster</a></li>
                    <li><a class="heading-hover" href="{{ teams_prefix }}nosecone1.html">Nosecone</a></li>
                    <li><a class="heading-hover" href="{{ teams_prefix }}assembly1.html">Assembly</a></li>
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
      
    {{ content }}
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- JavaScript snippet to detect current page and apply the always-hovered class -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // If on index-single.html, highlight "Getting Started"
        if (window.location.href.indexOf('cad-tutorial/index-single.html') !== -1) {
          var link = document.getElementById('getting-started-link');
          if (link) {
            link.classList.add('always-hovered');
          }
        }

        // ***** ADDED THIS BLOCK FOR FUSELAGE-SINGLE2.HTML *****
        if (window.location.href.indexOf('fuselage-single2.html') !== -1) {
          var fuselageLink = document.getElementById('fuselage-link');
          if (fuselageLink) {
            fuselageLink.classList.add('always-hovered');
          }
        }
      });

      // Add scroll event to change navbar background
      window.addEventListener('scroll', function() {
        var navbar = document.getElementById('mainNav');
        if (window.scrollY > 200) {
          navbar.classList.add('scrolled');
        } else {
          navbar.classList.remove('scrolled');
        }
      });
    </script>

</body>
</html>
