---
layout: default
title: AI Workshop | Stage One Education, LLC
---

<body id="page-top">

    {% include navigation.html %}

    <div class="black-for-nav"></div>

    <section class="less-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-med-6 col-sm-6">
                    <div class="workshop-container">
                        <div class="header-container">
                            <span class="workshop-title">AI workshop</span>
                            <a href={% include demo_link.html %} target="_blank" class="btn btn-primary btn-xl"
                                style="margin-right: 20px; white-space: normal;">Request a demo</a>
                        </div>
                        <hr class="long" style="margin-bottom: 10px" />
                        <div class="workshop-subdata">
                            3-3.5 hours, middle + high school students
                        </div>
                        <div class="tab-content tab-active" style="flex: 2; text-align: left; max-width: 70vw;">
                            <div style="margin: 20px;">
                                <ul>
                                    <li><strong>Human Neural Network: A Hands-On Activity</strong>
                                        <ul>
                                            <li>Join an interactive game of complex telephone where each participant
                                                becomes
                                                a node in a neural network.</li>
                                            <li>Gain an intuitive grasp of neural networks and their learning processes
                                                –
                                                all without the math!</li>
                                        </ul>
                                    </li>
                                    <li class="add-space"><strong>AI Film Studio: Creative Activity</strong>
                                        <ul>
                                            <li>Explore cutting-edge AI tools for text, image, music, and voice
                                                generation.
                                            </li>
                                            <li>Participants will craft all production elements for a unique short film,
                                                from scripts to marketing materials.</li>
                                            <li>Conclude with a film review session, showcasing AI's creative prowess.
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="add-space"><strong>AI Ethics: Decision-Making Activity</strong>
                                        <ul>
                                            <li>Delve into the pressing ethical questions AI engineers grapple with.
                                            </li>
                                            <li>Engage in lively dialogues that promote critical thinking about AI's
                                                responsible usage.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-med-6 col-sm-6 text-center" style="margin-top: 20px">
                    <div class="poster-container">
                        <img id="cyclingPoster" src="img/poster1.jpg" alt="Student-created AI movie posters">
                    </div>
                    <p style="color: #5b5b5b; font-size: 95%; padding-top: 3px;">student created movie posters</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Testimonials</h2>
                    <hr />
                    <h3>Understanding of AI neural networks <span style="font-weight: bold; color:#e06666">before</span>
                        / <span style="font-weight: bold; color: #93c47d">after</span> the workshop</h3>
                    <div class="col-lg-6">
                        <img src="img/chart_ai_understanding_before.svg" style="width: 100%; max-width: 700px;" />
                    </div>
                    <div class="col-lg-6">
                        <img src="img/chart_ai_understanding_after.svg" style="width: 100%; max-width: 700px;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="quote-container quote-two">
                        <p class="quote-text">
                            &ldquo;<strong>I loved the activity</strong> with neural networks. that was an engaging
                            and <strong>easy-to-understand</strong> way of learning that concept.&rdquo; <em>&mdash;
                                Student, Boston 2023</em>
                        </p>
                    </div>
                    <div class="quote-container quote-one">
                        <p class="quote-text">
                            &ldquo;You guys did well explaining everything and having <strong>everyone
                                engage</strong> with the lesson, and you helped make it <strong>fun to
                                learn</strong>.&rdquo; <em>&mdash; Student, Berkeley 2023</em>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="quote-container quote-three">
                        <p class="quote-text">
                            &ldquo;With the development of the times, AI has become inseparable from our lives, but
                            <strong>I have not been able to use AI</strong> (Chat GPT) well because schools are
                            avoiding the use of AI. However, through this class, I was able to learn how to use and
                            utilize AI through practice, and I think it was a <strong>very beneficial and enjoyable
                                time</strong>.&rdquo; <em>&mdash; Student, Boston 2023</em>
                        </p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-med-12 col-sm-12 text-left" style="margin-top: 20px">
                    <h2>Timeline</h2>
                    <hr />
                    <div class="text-center">
                        <img src="img/ai-timeline.svg" alt="AI Workshop Timeline" class="horizontal-image">
                        <img src="img/ai-timeline-vertical.svg" alt="AI Workshop Timeline" class="vertical-image">
                    </div>
                </div>
            </div>
        </div>
    </section>