---
layout: default
title: Stage One Education, LLC
---
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let posters = [
        'img/poster1.jpg',
        'img/poster2.jpg',
        'img/poster3.jpg',
        'img/poster4.jpg',
        'img/poster5.jpg',
        'img/poster6.jpg',
        'img/poster7.jpg',
    ];

    // Preload the images
    posters.forEach(function (src) {
        let img = new Image();
        img.src = src;
    });

    $(document).ready(function () {
        let currentIndex = 0;

        setInterval(function () {
            // Fade out the current image
            $("#cyclingPoster").css("opacity", "0");

            setTimeout(function () {
                // Switch to the next image
                currentIndex = (currentIndex + 1) % posters.length;
                $("#cyclingPoster").attr("src", posters[currentIndex]);

                // Fade in the new image
                $("#cyclingPoster").css("opacity", "1");
            }, 1000); // 1s delay matches the transition duration in the CSS
        }, 6000); // Interval duration is 2s fade out + 1s image switch + 1s fade in
    });
</script>

<script src="cad-tutorial/video_play_at_scroll.js"></script>

<body id="page-top" style="margin-top: 70px">

    {% include navigation.html %}
    <body id="page-top">

        <span class="workshop-title">Our Workshops</span>
        <hr class="main-page-hr" />


            
<section style="padding-top: 30px;" id="tab-section" class="tab-section less-padding">
    <div class="container" id="ai">

<!-- First Workshop Box --> 
<div class="row align-items-stretch">
    <div class="col-sm-4 text-center">
        <a href="ai-workshop.html" class="workshop-main-button">

            <!-- Title Section -->
            <div class="main-button-title-text">
                Artificial Intelligence<br>
            </div>

            <!-- Image Section -->
            <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                <div style="width: 200px; height: 200px; display: flex; justify-content: center; align-items: center;">
                    <img id="cyclingPoster" src="img/poster1.jpg" alt="Student-created AI movie posters" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                </div>
            </div>

            <div class="text-left" style="flex-grow: 1; padding: 20px; width: 100%; text-align: center;">
                <ul style="list-style: none; padding: 0; margin: 0; font-family: 'Roboto', sans-serif; font-size: 14px;" class="workshop-button-content-ul">
                    <li style="margin-bottom: 10px;">Discover AI Neural Networks</li>
                    <li style="margin-bottom: 10px;">Use the latest AI models:
                        <ul style="list-style: none; padding-left: 0; margin: 0;">
                            <li>text, image, and music</li>
                        </ul>
                    </li>
                    <li style="margin-bottom: 10px;">AI ethics discussion</li>
                </ul>
            </div>
            
        </a>
    </div>



      <!-- Second Workshop Box -->
<div class="col-sm-4 text-center">
    <a href="robotics-workshop.html" class="workshop-main-button">

        <!-- Title Section -->
        <div class="main-button-title-text">
            Robotics<br><br>
        </div>

    <!-- Image Section -->
    <div>
        <img src="img/robotics_placeholder.jpg" alt="Robotics Placeholder" style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;">
    </div>


        <!-- Text Section (Removed Scroll) -->
        <div class="text-left" style="flex-grow: 1; padding: 20px; width: 100%; text-align: center;">
            <ul class="workshop-button-content-ul">
                <li style="margin-bottom: 10px;">Fly mini drones</li>
                <li style="margin-bottom: 10px;">Build a circuit for drone control</li>
                <li style="margin-bottom: 10px;">Program for autonomous flight</li>
            </ul>
        </div>
        
    </a>
</div>



<!-- Third Workshop Box -->
<div class="col-sm-4 text-center">
    <a href="rocket-workshop.html" class="workshop-main-button">

        <!-- Title Section -->
        <div class="main-button-title-text">
            Mechanical Engineering
        </div>

             <!-- Video Section -->
             <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                <video autoplay loop muted playsinline style="width: 250px; height: 200px; object-fit: cover; border-radius: 10px;">
                    <source src="cad-tutorial/videos/intro-video3.webm" type="video/webm">
                    <source src="cad-tutorial/videos/intro-video3.mp4" type="video/mp4">
                </video>
                
            </div>

        <!-- Text Section (Removed Scroll) -->
        <div class="text-left" style="flex-grow: 1; padding: 20px; width: 100%; text-align: center;">
            <ul class="workshop-button-content-ul">
                <li style="margin-bottom: 10px;">Use professional CAD software</li>
                <li style="margin-bottom: 10px;">Design a multi-part model rocket</li>
                <li style="margin-bottom: 10px;">Explore 3D printing</li>
            </ul>
        </div>
        
    </a>
</div>
</div>

    </div>
</section>


<hr class="main-page-hr" style="margin-top: 20px;"/>
<span class="workshop-title">About</span>
<hr class="main-page-hr" />


    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px; text-align: center; max-width: 1200px; margin: 0 auto; margin-top: 20px">
        
        <!-- Hands-on Box -->
        <div style="flex: 1 1 calc(20% - 20px); padding: 10px; border: none; border-radius: 10px; max-width: 250px; box-shadow: none;">
            <i class="fa fa-4x fa-solid fa-wrench wow text-primary bounceIn"></i>
            <h3 class="about-title-text">hands-on</h3>
            <p class="about-body-text">Do engineering in the first minute, no prior experience needed, experiences for all ages.</p>
        </div>

            <!-- Turn-key Box -->
            <div style="flex: 1 1 calc(20% - 20px); padding: 10px; border: none; border-radius: 10px; max-width: 250px; box-shadow: none;">
                <i class="fa fa-4x fa-solid fa-gear wow text-primary bounceIn"></i>
                <h3 class="about-title-text">turn-key</h3>
                <p class="about-body-text">All Inclusive engineering workshop packages that seamlessly integrate and scale into any program.</p>
            </div>

        <!-- Curriculum Box -->
        <div style="flex: 1 1 calc(20% - 20px); padding: 10px; border: none; border-radius: 10px; max-width: 250px; box-shadow: none;">
            <i class="fa fa-lightbulb-o fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3 class="about-title-text">curriculum</h3>
            <ul style="padding: 0; list-style: none; text-align: center;">
                <li class="about-body-text">Designed and instructed by PhDs, engineers, and educators.</li>
                <li class="about-body-text">Continuously updated, no year is the same.</li>
            </ul>
        </div>

        <!-- Experienced Box -->
        <div style="flex: 1 1 calc(20% - 20px); padding: 10px; border: none; border-radius: 10px; max-width: 250px; box-shadow: none;">
            <i class="fa fa-group fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3 class="about-title-text">experienced</h3>
            <p class="about-body-text">Since 2013, Stage One Education has provided hands-on engineering workshops to 15,000+ participants.</p>
        </div>

        <!-- Safe & Exciting Box -->
        <div style="flex: 1 1 calc(20% - 20px); padding: 10px; border: none; border-radius: 10px; max-width: 250px; box-shadow: none;">
            <i class="fa fa-shield fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h3 class="about-title-text">safe & exciting</h3>
            <ul style="padding: 0; list-style: none; text-align: center;">
                <li class="about-body-text">Model rockets stay virtual, all electronics are low voltage, and safety glasses are provided.</li>
                <li class="about-body-text">Your mind will be blown!</li>
            </ul>
        </div>
    </div>



<span class="workshop-title" style="display: block; height: 5px; background-color: white;"></span>




<hr class="main-page-hr" />
<span class="workshop-title">Feedback</span>
<hr class="main-page-hr" />


<span class="workshop-title" style="display: block; height: 20px; background-color: white;"></span>


<!-- New Image Section with Continuous Scroll for Feedback -->
<div style="overflow: hidden; margin-top: 40px; max-width: 1000px; margin: 20px auto; white-space: nowrap; position: relative;">
    <div class="scroll-container">
        <img src="img/feedback1.jpg" alt="Feedback 1" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback2.jpg" alt="Feedback 2" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback3.jpg" alt="Feedback 3" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback4.jpg" alt="Feedback 4" class="scroll-image" style="margin-right: 40px;">

        <!-- Duplicate images for smooth continuous scroll effect -->
        <img src="img/feedback1.jpg" alt="Feedback 1" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback2.jpg" alt="Feedback 2" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback3.jpg" alt="Feedback 3" class="scroll-image" style="margin-right: 40px;">
        <img src="img/feedback4.jpg" alt="Feedback 4" class="scroll-image">
    </div>
</div>

<!-- Keyframes for continuous scroll without fade effect -->
<style>
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Container for smooth scroll */
.scroll-container {
    display: inline-block;
    animation: scroll 40s linear infinite;
    white-space: nowrap;
    padding-bottom: 20px;
}

/* Apply size and spacing to each image */
.scroll-image {
    display: inline-block;
    width: 400px; /* Increased width */
    height: auto; /* Adjusted height to maintain aspect ratio */
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adjust margin between images */
    margin-right: 40px;
}
</style>

</style>




<!-- Centering the Feedback box below the images -->
<div style="display: flex; justify-content: center; padding: 0px;">
    <ul style="list-style: none; padding: 0; margin: 0;">
        <li>
            <a href="feedback.html" class="btn btn-primary btn-xl nav-button-stageone-highlight">
               More Feedback
            </a>
        </li>
    </ul>
</div>


<hr class="main-page-hr" style="margin-top: 50px"/>
<span class="workshop-title">Contact</span>
<hr class="main-page-hr" />

<section id="contact" class="less-padding" style="padding-top: 20px;">
    <div class="container" style="text-align: center; display: flex; flex-direction: column; align-items: center; gap: 10px;">
       
        <style>
            @keyframes pulse {
                0% {
                    transform: scale(1);
                }
    
                50% {
                    transform: scale(1.2);
                }
    
                100% {
                    transform: scale(1);
                }
            }
        </style>
        
        
        <!-- Email Section with Pulsing Heartbeat Effect -->
        <div style="display: flex; justify-content: center; align-items: center;">


                    <a href="mailto:workshops@stageoneeducation.com" style="text-decoration: none; color: #f05f40;">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"
                            style="color: #f05f40; animation: pulse 1s infinite;"></i>
                    </a>
                </div>

        <!-- Email Link on its own line -->
        <p style="margin: 1px 0; font-family: 'Roboto', sans-serif; font-size: 20px;">
            <a href="mailto:workshops@stageoneeducation.com" style="color: #f05f40; text-decoration: none;">
                workshops@stageoneducation.com
            </a>
        </p>

    <br>
        
    <div
    style="font-family: 'Roboto', sans-serif; color: #464444; font-size: 15px; text-align: center; margin: 20px auto; max-width: 800px;">

    Explore our engineering workshops and presentation events <br/> schedule a virtual workshop demo today</div>

  <!-- Request a Demo Button -->
  <a href={% include demo_link.html %} target="_blank" class="btn btn-primary btn-xl nav-button-stageone">
  Request a demo
</a>
</section>

<span class="workshop-title" style="display: block; height: 40px; background-color: white;"></span>


<div style="text-align: right; margin-top: 10px;">
    <!-- Copyright Text on its own line -->
    <span class="workshop-title" style="font-family: 'Roboto', sans-serif; color: rgb(100, 100, 100); font-size: 12px; opacity: 0.8;">
        &copy; 2024 Stage One Education, LLC
    </span>
</div>

<span class="workshop-title" style="display: block; height: 10px; background-color: white;"></span>




