---
layout: default
title: Instructors | Stage One Education, LLC
---

<body id="page-top">

    {% include navigation.html %}

    <!-- Add a spacer to prevent content from hiding behind the fixed navbar -->
    <div style="height: 70px;"></div> <!-- Adjust height to match your navbar's height -->

    <!-- Title Section -->
    <div style="max-width: 100%; margin: 0 auto; text-align: center;">
        <span class="workshop-title" style="font-family: 'Roboto', sans-serif; color: #f05f40; font-size: 60px; font-weight: bold; white-space: nowrap; line-height: 1; padding: 0;">
            Instructors
    
            <hr class="main-page-hr" />
    </div>

    <!-- Mission Statement -->
    <div style="font-family: 'Roboto', sans-serif; color: #f05f40; font-size: 20px; text-align: center; margin-top: 20px; font-weight: bold; text-align: center; margin: 20px auto; max-width: 80%;">
        Mission: Inspiring learners through hands-on engineering workshops
    </div>

    <!-- Workshop Description -->
    <div style="font-family: 'Roboto', sans-serif; color: #464444; font-size: 15px; text-align: center; margin: 20px auto; max-width: 60%;">
        At Stage One Education, we offer workshops that capture the expertise and practices of top researchers and engineering professionals. Our workshops are led by a nationwide network of experienced instructors who guide participants through immersive, hands-on, project-based learning reflecting the latest engineering fields. This dynamic approach provides an experience powered by the insights and passion of real-world engineers.
    </div>

    <!-- Invitation to Join the Team -->
    <div style="font-family: 'Roboto', sans-serif; color: #464444; font-size: 15px; text-align: center; margin: 40px auto; margin: 50px auto;max-width: 800px; font-weight: normal;">
        Want to join our team?

<br/>
<br/>

    <span class="workshop-title">Contact</span>
   


        <!-- Email Address -->
        <p style="font-family: 'Roboto', sans-serif; font-size: 20px; text-align: center; margin: 0;">
            <a href="mailto:workshops@stageoneeducation.com" style="color: #f05f40; text-decoration: none;">
                workshops@stageoneeducation.com
            </a>
        </p>
    </section>
<br/>

        <!-- Requirements Section -->
        <div style="font-family: 'Roboto', sans-serif; color: #464444; font-size: 10px; text-align: center; margin: 10px auto; max-width: 70%;">
            Requirements: Team Leadership - Excellent Presentation Skills - Strong Portfolio of Engineering Experience
        </div>
        <div style="font-family: 'Roboto', sans-serif; color: #464444; font-size: 10px; text-align: center; margin: 10px auto; max-width: 70%;">
            Authorized to work in the U.S. as a 1099 independent contractor
        </div>
    </div>

    
    {% include copyright.html %}


</body>
