---
layout: default
title: Robotics / Electronics Workshop | Stage One Education, LLC
---

<body id="page-top">

    {% include navigation.html %}

    <div style="height: 140px;"></div> <!-- Adjust height to match your navbar's height -->


    <section class="less-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="workshop-container">
                        <div class="header-container">
                            <div class="text-left">
                                <span class="workshop-title" style="text-align: left;">Robotics workshop</span> <span
                                    class="workshop-subtitle"> &mdash;
                                    Robotics, Electronics, Coding</span>
                            </div>
                        </div>
                        <hr class="fullpage" style="margin-bottom: 10px" />
                        <div class="workshop-subdata">
                            3-3.5 hours, middle + high school students
                        </div>
                        <div id="ai-content" class="tab-content tab-active"
                            style="flex: 2; text-align: left; max-width: 70vw;">
                            <div style="margin: 20px;">
                                <ul>
                                    <li>Immerse yourself in hands-on circuit-building and software development.</li>
                                    <li>With the goal of achieving autonomous flight of a small toy RC drone,
                                        participants
                                        collaborate on:</li>
                                    <ul>
                                        <li>hardware</li>
                                        <li>software design</li>
                                        <li>learning problem-solving and debugging skills</li>
                                    </ul>
                                    </li>
                                </ul>
                                <div style="text-align: center; margin-top: 20px;">
                                    <a href={% include demo_link.html %} target="_blank" 
                                        class="btn btn-primary btn-xl request-demo-button">Request a demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="poster-container" style="margin-top: 25px;">
                        <img src="img/heli-circuit.png" width="100%" alt="RC Helicopter">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Testimonials</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="workshop-subtitle-nocaps">I learned a significant amount</span> <span
                        class="workshop-subdata">
                        6,085 responses</span>
                    <div>
                        <img src="img/chart_heli_learning.svg" style="width: 100%; max-width: 500px;" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="percent-agree">90% agree</div>
                        <div class="percent-agree-sub">I had fun in the electronics workshop</div>
                        <br />
                        <div class="percent-agree">95% agree</div>
                        <div class="percent-agree-sub">The Stage One instructor(s) were knowledgeable and prepared</div>
                        <br />
                        <div class="percent-agree">82% agree</div>
                        <div class="percent-agree-sub">I learned a significant amount in the electronics workshop</div>
                        <div class="percent-agree-sub2">survey size: 6,085 participants</div>
                        <br />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="quote-container quote-one" style="position: relative; top: -50px">
                        <p class="quote-text">
                            &ldquo;This was <strong>by far the best workshop</strong> and it interested me the most. I
                            liked the coding portion and the electronics hardware&rdquo; <em>&mdash;
                                Student, Berkeley 2023</em>
                        </p>
                    </div>
                    <div class="quote-container quote-two" style="position: relative; top: -50px; margin-bottom: -100px;">
                        <p class="quote-text">
                            &ldquo;You guys are <strong>amazing and I had so much fun</strong>. Can't wait to do more
                            engineering and coding!&rdquo;
                            <em>&mdash;
                                Student, Boston 2023</em>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="quote-container quote-three">
                        <p class="quote-text">
                            &ldquo;It was really fun and <strong>I learned a lot</strong>. I could <strong>actually use
                                some of this knowledge</strong> for other projects I may do.&rdquo; <em>&mdash; Student,
                                Houston 2022</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-med-12 col-sm-12 text-left" style="margin-top: 20px">
                    <h2>Timeline</h2>
                    <hr />
                    <div class="text-center">
                        <img src="img/robotics-timeline.svg" alt="AI Workshop Timeline" class="horizontal-image">
                        <img src="img/robotics-timeline-vertical.svg" alt="AI Workshop Timeline" class="vertical-image">
                    </div>
                </div>
            </div>
        </div>
    </section>