{% if location_explore.map.latitude and location_explore.map.longitude %}
{% assign map_lat = location_explore.map.latitude %}
{% assign map_lng = location_explore.map.longitude %}
{% if location_explore.map.show_pin == false %}
  {% assign map_zoom = 4 %}
  {% capture map_src %}https://maps.google.com/maps?ll={{ map_lat }},{{ map_lng }}&z={{ map_zoom }}&hl=en&output=embed{% endcapture %}
{% else %}
  {% assign map_zoom = 10 %}
  {% capture map_src %}https://maps.google.com/maps?q={{ map_lat }},{{ map_lng }}&z={{ map_zoom }}&hl=en&output=embed{% endcapture %}
{% endif %}
<iframe
  class="discovery-location-explore__map discovery-location-explore__map--google"
  src="{{ map_src }}"
  title="Map of {{ entry.name }}"
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
  allowfullscreen></iframe>
{% endif %}
